main {
width: 70%;
max-width: 1000px;
margin: 0 auto;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
    font-style:italic;

}

section {
    font-size: 1.75rem;
    line-height:2.5rem;

}
callout {
    font-size: 1.8rem;
    font-style: italic;
}